# Alembic
alembic==1.13.1
pydantic[email]
pydantic-settings

# Celery + Redis
celery[redis]==5.3.6
flower

# Database
asyncpg==0.29.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.25

# FastAPI
fastapi==0.109.0
sqladmin[full]
python-multipart  # Для взаимодействия с multipart файлами в request body.
requests
uvicorn[standard]==0.27.0

# HTTP utils.
httpx  # Для обещения микросервисов по API.

# Tests.
colorlog
flake8

# Security.
itsdangerous==2.1.2
python-jose[cryptography]==3.3.0
